:root{
    --primary: #B0B0B0;
    --fontone:'Poppins', sans-serif;
    --borde: 1px solid red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontone);
    background: #F3F2EF;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px 40px;
}
nav{
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
header nav .container_nav_logo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header nav .container_nav_logo .logo{
    width: 250px;
    height: 100%;
}
header nav .container_nav_search{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .container_nav_search input{
    width: 60%;
    padding: 1em;
    border:  none;
    background: #EEF3F8;
    border-radius: .5rem;
    outline: none;
    font-family: var(--fontone);
    margin-right: 1em;
}
header nav .container_nav_search input:focus{
    outline:none;
    border-radius: .5rem;
    border:  1px solid #ebebeb;
}
header nav .container_nav_search a{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    margin-left: 1em;
}
header nav .container_nav_login{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
header nav .container_nav_login a{
    text-decoration: none;
    color: var(--primary);
    font-size: .9em;
}
header nav .container_nav_login .truck{
    margin-left: 1em;
}

header nav .container_nav_login a img, header nav .container_nav_login .truck img{
    margin-bottom: -.2em;
}

@media(max-width:920px){
    header nav .container_nav_logo{
        width: 25%;
        height: 100%;
    }
    header nav .container_nav_logo .logo{
        width: 150px;
        height: 100%;
    }
    header nav .container_nav_search{
        width: 50%;
    }
    header nav .container_nav_login{
        width: 25%;
        justify-content: flex-end;
    }
    header nav .container_nav_login a img{
        margin-left: 1em;
    }
    header nav .container_nav_login .txt_nav{
        display: none;
    }
}

@media(max-width:720px){
    header{
        padding: 20px 20px;
    }
    header nav .container_nav_logo{
        width: 80%;
    }
    header nav .container_nav_search input{
        display: none;
    }
    header nav .container_nav_search {
        width: 10%;
        justify-content: flex-end;
    }
    header nav .container_nav_search a{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: green;
        margin-left: 0;
    }
    header nav .container_nav_login{
        width: 10%;
    }
    header nav .container_nav_login .truck{
     display: none;
    }
}

@media(max-width:480px){
    header nav .container_nav_search a{
        width: 35px;
        height: 35px;
    }
}